@import './variables';
@import './colors';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $color-bg;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 $spacing-base*2;
}

a {
  text-decoration: none;
  color: $color-text;
}