@import '../../basic_scss/colors';
@import '../../basic_scss/variables';

header {
  background-color: $color-primary;
  position: absolute;
  width: 100%;
  height: 4.375rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-bg;
  padding: $spacing-base*1.5 0;

  .logo__text {
    font-family: $font-logo;
    font-size: 2rem;
    color: $color-bg
  }

  .user {
    display: flex;
    align-items: center;

    .user__name {
      font-family: $font-text;
      margin-right: $spacing-base;
    }
    .user__image {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }
}