@import '../../basic_scss/colors';
@import '../../basic_scss/variables';

.setPage {
  display: flex;
  justify-content: space-between;
  align-items: start;

  .filtersBox {
    background-color: $color-white;
    padding: $spacing-base*2 $spacing-base*2 $spacing-base*2;
    box-shadow: $box-shadow-base;
    width: 23%;
    margin-right: $spacing-base*3;
    position: relative;
    //display: none;


    .btn__add,
    .btn__back {
      border: none;
      padding: $spacing-base $spacing-base*1.5;
      width: 100%;
      text-align: start;
      border-radius: $spacing-base*0.5;
      margin: $spacing-base 0;
      display: flex;
      justify-content: space-between;
    }

    .btn__add {
      background-color: $color-secondary;
      color: $color-white;
    }

    .btn__back {
      background-color: $color-white;
      color: $color-secondary;
      border: 1px solid $color-secondary;
    }

    .filterList__title {
      text-transform: uppercase;
      color: $color-ligt-grey;
      font-family: $font-text;
      margin: $spacing-base*2 0 $spacing-base;
    }

    .filterElement {
      cursor: pointer;
      font-family: $font-text;
      padding: $spacing-base*0.5;
      border-bottom: 2px solid $color-white;

      &.active {
        border-bottom: 2px solid $color-secondary;
      }

      &:hover {
        border-bottom: 2px solid $color-secondary;
      }


    }

    .hideMenu {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $color-text;
      cursor: pointer;
      font-family: $font-text;
      font-size: 1.5rem;
      padding: $spacing-base*0.5 $spacing-base;

      .arrow-hide {
      }
    }
  }



}